.chong,.my-card{position:relative;text-align: center;}
.chong-block{position: absolute;top: 0;left: 0;width: 100%;}
.chong img,.my-card img{width:100%;}
.chong-top{margin: 0 auto;margin-top: 5%; padding-left: 20px;padding-right: 10px;text-align: left;}
.top-word{background: #fff; border-radius: 30px;padding: 0px 8px;font-size: 14px;color: #8ad9f7;border: 1px solid #84ccc9;line-height: 22px;height: 22px;}
.chong-top img{width: 70%;}
.chong-title{position: relative;}
.chong-title img{position: relative;width: 63%;margin-left: 5%;margin-top: 8%;}
.chong-title-fu img{width: 60%;margin-top: 5%;}
#yun{position: absolute;width: 27%;top: 15%;right: 0;}
.chong-btn{position: relative;margin-top: 55%;}
#open-bg{position: absolute;top: 0;left: 0;}
.chong-block p{color: #fff;font-size: 14px;margin-top: 5px;}
.chong-block p span{margin-left: 5px;}
.chong-hua{position: absolute;top: 13.5%;left: 0;width: 100%;}
.card-btn{position: relative;background: url(../images/chong/btn_bg.png) no-repeat;background-size: 100% 100%;min-width: 110px;color: #fff;font-weight: bold;padding: 0 5px;padding-bottom: 5px;font-size: 20px;-webkit-text-stroke: 1.0px #a46110;display: inline-block;}

/*my-card*/
.card-top{    background: url(../images/chong/card_top.png) no-repeat;background-size: 100% 100%;height: 35px;min-width: 160px;width: 54%;margin: 0 auto;margin-top: 8.5%;z-index: 100;position: relative;text-align: center;line-height: 35px;font-size: 25px;color: #fff;}
.my-card .chong-block .card-show p{display: inline-block;border: 1px solid #d15706;font-size: 14px;line-height: 16px;padding: 0 15px;border-radius: 20px;color: #d15706;margin-top: 5px;}
.my-card .chong-block p span{margin: 0;margin-right: 1px;}
.my-card .card-show{margin-top: 5%;padding: 0 2.5%;}
.my-card .card-show .weui-flex{margin-bottom: 5%;}
.my-card .card-show .weui-flex .weui-flex__item{margin:0 2.5%;position: relative;}
.my-card .no-card{position: absolute;top:0;display: none;}
.dui-btn{position: relative;margin-top: 5%;background: #f9fafa;padding-bottom: 20px;}

/*rule*/
.rule_close{width: 10%;position: relative;margin-left: 90%;margin-bottom: -10%;z-index: 10;}
.rule_close img{width: 100%;}
.rule-top{background:url(../images/chong/rule_top.png) no-repeat;background-size: 100% 100%;height: 60px;min-width: 200px;width: 70%;margin: 0 auto;margin-bottom: -30px;z-index: 100;position: relative;text-align: center;line-height: 40px;font-size: 20px;color: #fff;letter-spacing: 5px;}
.rule_pdiv {padding:5px 15px;border-radius: 25px;font-size: 16px;background: #f8ecbf;border: 4px solid #e8c78d;}
.rule_div {position: relative;color: #545971;padding-top: 10px;  }
.rule_title .rule_info {position: relative;}
.rule_info {padding: 3px 0 3px 0px;}
.rule_info strong {color: #9f660d;font-weight: bold;}
.rule_info_word,.rule_content{color: #9f660d;font-size: 14px;}
.rule_return{position: relative;background: url(../images/chong/btn_bg.png) no-repeat;background-size: 100% 100%;width: 125px;color: #fff;font-weight: bold;height: 40px;line-height: 38px;margin: 0 auto;font-size: 20px;text-align: center;}
.rule_content p{padding-left: 20px;position: relative;}
.rule_content p .rule_info_seq{position: absolute;left: 0px;}

/*cardHtml*/
.chong-card-btn{text-align: center;}
.card_div{width:65%;margin-bottom: 5%;min-width: 195px;}
.card_div img{width:100%;}
.chong-card-btn .card-btn{height: 35px;line-height: 35px;}
.card_show{position: relative;}
.card_img{position: absolute;top: 13%;width: 68%;left: 15%;}
.card_show p{text-align: center;position: absolute;top: 65%;line-height: 18px;left: 5%;width: 95%;color: #fff;font-size: 15px;}
.card_show a{display: inline-block;position: absolute;width: 50%;top: 83%;left: 25%;}
.card_div img.card-img{width: 110%;}
.card_show .card-show-btn{background: rgb(253, 189, 41);border-radius: 20px;text-align: center;color: #fff;margin-top: 5%;}
.chest-list-show{border: 3px solid #f0b844;width: 80%;margin: 0 auto;padding: 25px 10px;border-radius: 10px;margin-top: -18px;background: #fff9c9;padding-top: 30px;}
.chest-list-show p{border-bottom: 1px dotted #fcdaa4;height: 20px;display: flex;line-height: 20px;text-align: right;padding-bottom: 3px;margin-top: 0;}
.chest-list-show p span{font-size: 13px;color: #333;}
.chest-list-show p span:nth-of-type(1){-webkit-box-flex: 1; -webkit-flex: 1;flex: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;word-break: break-all;text-align: left;text-indent: 5px;}
.card_close{width: 10%;position: relative;margin-left: 93%;margin-bottom: -5%;z-index: 10;}

/*prizeHTML*/
.prize_pdiv{background: #fff;border-radius: 10px;border: 1px solid #d15706;max-width: 500px;}
.prize-top{margin: 0 auto;width: 75%;margin-top: 10px;}
.prize-top img{width: 100%;margin-left: 4%;}
.prize_pdiv p{color: #d15706;text-align: center;margin-top: -5%;margin-bottom: 10px;}
.prize_div .chong-card-btn{margin-bottom: 20px;}


/*animation*/
.bounceInDown{animation: bounceInDown 1s ease 1;-webkit-animation: bounceInDown 1s ease  1;}
.yun-piao{animation: yun-piao 2s linear  1;-webkit-animation: yun-piao 2s linear  1;}
.falein{animation: falein 2s linear  1;-webkit-animation: falein 2s linear  1;}
.a-btn{animation: a-btn 1s linear 2s 2;-webkit-animation: a-btn 1s linear 2s 2;}
@keyframes bounceInDown{0% {opacity: 0;-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}60% {opacity: 1;-webkit-transform: translateY(30px);transform: translateY(30px);}80% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}100% {-webkit-transform: translateY(0);transform: translateY(0px);}}
@-webkit-keyframes bounceInDown{0% {opacity: 0;-webkit-transform: translateY(-2000px);}60% {opacity: 1;-webkit-transform: translateY(30px);}80% {-webkit-transform: translateY(-10px);}100% {-webkit-transform: translateY(0);}}
@keyframes falein{0% {opacity: 0;} 50%{opacity: 0;} 100%{opacity: 1;}}
@-webkit-keyframes falein{0% {opacity: 0;} 50%{opacity: 0;} 100%{opacity: 1;}}
@keyframes a-btn{0% {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}50% {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}100% {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}}
@-webkit-keyframes a-btn{0% {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}50% {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}100% {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}}
@keyframes yun-piao{0% {-webkit-transform: translateX(-640px);}100% {-webkit-transform: translateX(0);}}
@-webkit-keyframes yun-piao{0% {-webkit-transform: translateX(-640px);}100% {-webkit-transform: translateX(0);}}

